<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include guids.wxi ?>
  <?include defines.wxi ?>
  
  <Fragment>

    <DirectoryRef Id="bin.dir">
      <Component Id="batchtonemapper.batchToneMapper.exe"
                 Guid="$(var.batchtonemapper.batchToneMapper.exe)"
                 Win64="$(var.IsX64)">
        <File Name="batchToneMapper.exe" KeyPath="yes" Source="bin\batchToneMapper.exe" />
      </Component>
    </DirectoryRef>

    <!-- The batch tone mapper is not part of the typical installation -->
    <Feature Id="batchtonemapper" Title="Batch tone mapper"
             Description="Parallel command line utility to tone map HDR files using exposure and gamma correction."
             Level="1000" AllowAdvertise="no">
      <ComponentRef Id="batchtonemapper.batchToneMapper.exe"/>
      <ComponentRef Id="runtime.tbb.dll"/>
      <ComponentGroupRef Id="pcgimageio.runtime"/>
      <ComponentGroupRef Id="runtime.Qt4"/>
    </Feature>
  
  </Fragment>

</Wix>
