<?xml version="1.0" encoding="utf-8"?>
<!-- Wix base project for HDRITools -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <?include guids.wxi ?>
  <?include defines.wxi ?>
  
  <!-- Main product. Autogenerate the Id since we only support major updates -->
  <Product Id="*" Name="$(var.ProductName)" Language="1033"
           Version="$(var.Version)" Manufacturer="$(var.Company)"
           UpgradeCode="$(var.UpgradeGUID)" >
    <Package Id="*" Description="$(var.ProductName) $(var.Version)"
             Comments="$(var.Description)" Manufacturer="$(var.Company)"
             InstallerVersion="300" Platform="$(var.Platform)" Compressed="yes" />
    <!-- Media Id "1" is the default for files -->
    <Media Id="1" Cabinet="hdritools.cab" EmbedCab="yes" />
    
    <!-- 
    Search for the old NSIS installer created by CPack.
    Property/@Name remains null because we are tooking for the default key value
    -->
    <Property Id="NSIS_INSTALL">
      <RegistrySearch
        Id="SearchForOldNSISSetup"
        Win64="$(var.IsX64)"
        Root="HKLM"
        Key="SOFTWARE\Cornell PCG\HDRITools 0.2.0"
        Type="directory"
      />
    </Property>
    <!--
    "Installed" is a Windows Installer property that ensures the check is only done when
    the user is installing the application, rather than on a repair or remove.
    -->
    <Condition Message="Uninstall [NSIS_INSTALL] before installing this package.">
      <![CDATA[Installed OR NOT NSIS_INSTALL]]>
    </Condition>
    <!-- We use some features which require WinVista -->
    <Condition Message="This application is only supported on Windows Vista, Windows Server 2008, or higher.">
      <![CDATA[Installed OR (VersionNT >= 600)]]>
    </Condition>
    
    <!-- Entries for Add or Remove Programs -->
    <Property Id="ARPURLINFOABOUT">https://bitbucket.org/edgarv/hdritools</Property>
    <Property Id="ARPURLUPDATEINFO">https://bitbucket.org/edgarv/hdritools/downloads</Property>
    
    <!-- Top directory structure -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id="$(var.PFilesFolderID)" Name="PFiles">
        <Directory Id="PCG.dir" Name="$(var.Company)">
          <Directory Id="INSTALLDIR" Name="$(var.Product)" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" />
    </Directory>
    
    <!-- HDRITools directories -->
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="bin.dir" Name="bin" >
        <Directory Id="qtplugins.dir" Name="plugins" >
          <Directory Id="qtimageformats.dir" Name="imageformats" />
        </Directory>
      </Directory>
      <Directory Id="lib.dir" Name="lib" />
      <Directory Id="include.dir" Name="include" />
      <Directory Id="java.dir" Name="java" />
      <Directory Id="matlab.dir" Name="matlab" />
    </DirectoryRef>
    
    
    <!-- Main feature, so that there is a single configurable directory -->
    <Feature Id="$(var.Product).Complete" Display="expand" Level="1"
             ConfigurableDirectory="INSTALLDIR"
             InstallDefault="local" AllowAdvertise="no"
             Title="$(var.Product) $(var.Version)"
             Description="The complete $(var.Product) package." >

      <FeatureRef Id="qt4image" />
      <FeatureRef Id="batchtonemapper" />
      <FeatureRef Id="exrcompress" />
      <FeatureRef Id="openexjava" />
      <FeatureRef Id="openexrmex" />

      <FeatureRef Id="VCRedist" />
    </Feature>


    <!-- DLL with our custom actions -->
    <Binary Id="HDRIToolsCA" SourceFile="HDRIToolsCA.dll" />

    <Upgrade Id="$(var.UpgradeGUID)">
      <UpgradeVersion OnlyDetect="no" Property="INSTALLEDHDRITOOLS"
                      Minimum="0.0.0" IncludeMinimum="yes"
                      Maximum="$(var.Version)" IncludeMaximum="no" />
    </Upgrade>
    
    <!-- Refresh the file associations -->
    <CustomAction Id="AssocChanged" BinaryKey="HDRIToolsCA"
                  DllEntry="NotifyAssocChanged" />
    
    <InstallExecuteSequence>
      <!-- Execute only with the Qt4Image Feature -->
      <Custom Action="AssocChanged" After="InstallFinalize">
        <![CDATA[(&qt4image = 3) OR (!qt4image = 3)]]>
      </Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>
    
    
    <!-- Nice stuff for Windows Logo certification -->
    <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLDIR]" After="CostFinalize" />
    
    
    <!-- WixUI -->
    <UIRef Id="WixUI_Mondo" />
    <!-- Recommended to get custom messages -->
    <UIRef Id="WixUI_ErrorProgressText" />
    <!-- Required property -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    
    <!--Auto-accept the license page-->
    <Property Id="LicenseAccepted">1</Property>
    <!-- Custom WixUI -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

  </Product>
</Wix>
