<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include guids.wxi ?>
  <?include defines.wxi ?>
  
  <!-- ProgIDs -->
  <?define progid.exr="PCG.qt4Image.OpenEXRFile.1" ?>
  <?define progid.rgbe="PCG.qt4Image.RGBEFile.1" ?>
  <?define progid.hdr="PCG.qt4Image.RadianceFile.1" ?>
  <?define progid.pbm="PCG.qt4Image.PBMFile.1" ?>
  
  <Fragment>

    <DirectoryRef Id="bin.dir">
      <Component Id="qt4image.qt4Image.exe" Guid="$(var.qt4image.qt4Image.exe)" Win64="$(var.IsX64)">
        <File Name="qt4Image.exe" KeyPath="yes" Source="bin\qt4Image.exe" />
      </Component>
    </DirectoryRef>
    
    
    <!--
    File associations and Capabilities for Program Defaults.
    We do not use ProgId/Extension/Verb because, unless they are advertised,
    they seem to assume ownership of the file type. Writing directly the
    registry entries and relying on Set Program Defaults seems a safer,
    more conservative approach.
    -->
    <DirectoryRef Id="TARGETDIR">

      <!-- OpenEXR -->
      <Component Id="qt4image.registry.exr" Guid="$(var.qt4image.registry.exr)" Win64="$(var.IsX64)">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\$(var.progid.exr)\DefaultIcon"
                       Value="[#qt4Image.exe],1" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\$(var.progid.exr)\shell\open\command"
                       Value="&quot;[#qt4Image.exe]&quot; &quot;%1&quot;" Type="string" />
      </Component>

      <!-- RGBE -->
      <Component Id="qt4image.registry.rgbe" Guid="$(var.qt4image.registry.rgbe)" Win64="$(var.IsX64)">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\$(var.progid.rgbe)\DefaultIcon"
                       Value="[#qt4Image.exe],2" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\$(var.progid.rgbe)\shell\open\command"
                       Value="&quot;[#qt4Image.exe]&quot; &quot;%1&quot;" Type="string" />
      </Component>

      <!-- HDR -->
      <Component Id="qt4image.registry.hdr" Guid="$(var.qt4image.registry.hdr)" Win64="$(var.IsX64)">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\$(var.progid.hdr)\DefaultIcon"
                       Value="[#qt4Image.exe],3" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\$(var.progid.hdr)\shell\open\command"
                       Value="&quot;[#qt4Image.exe]&quot; &quot;%1&quot;" Type="string" />
      </Component>

      <!-- PBM -->
      <Component Id="qt4image.registry.pbm" Guid="$(var.qt4image.registry.pbm)" Win64="$(var.IsX64)">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\$(var.progid.pbm)\DefaultIcon"
                       Value="[#qt4Image.exe],4" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\$(var.progid.pbm)\shell\open\command"
                       Value="&quot;[#qt4Image.exe]&quot; &quot;%1&quot;" Type="string" />
      </Component>
      
      
      <Component Id="qt4image.registry.appregistration" Guid="$(var.qt4image.registry.appregistration)" Win64="$(var.IsX64)">
        <!-- App Paths to find the executable without modifying the PATH -->
        <RegistryValue Root="HKLM"
                               Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\qt4Image.exe"
                               Value="[#qt4Image.exe]" Type="string" KeyPath="yes" />
        <!-- Support for openwith through the Applications subkey -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\qt4Image.exe\SupportedTypes"
                       Name=".exr" Value="" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\qt4Image.exe\SupportedTypes"
                       Name=".rgbe" Value="" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\qt4Image.exe\SupportedTypes"
                       Name=".hdr" Value="" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\qt4Image.exe\SupportedTypes"
                       Name=".pfm" Value="" Type="string" />

        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\qt4Image.exe\DefaultIcon"
                       Value="[#qt4Image.exe],0" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\qt4Image.exe\shell\open\command"
                       Value="&quot;[#qt4Image.exe]&quot; &quot;%1&quot;" Type="string" />
      </Component>
      

      <!-- Capabilities for Set Program Defaults -->
      <Component Id="qt4image.registry.capabilities" Guid="$(var.qt4image.registry.capabilities)" Win64="$(var.IsX64)">
        <RegistryValue Root="HKLM" Key="SOFTWARE\PCG\qt4Image\Capabilities"
                       Name="ApplicationName" Value="Qt4Image" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PCG\qt4Image\Capabilities"
                       Name="ApplicationDescription" Value="@[#qt4Image.exe],-20" Type="string" />

        <RegistryValue Root="HKLM" Key="SOFTWARE\PCG\qt4Image\Capabilities\FileAssociations"
                       Name=".exr" Value="$(var.progid.exr)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PCG\qt4Image\Capabilities\FileAssociations"
                       Name=".rgbe" Value="$(var.progid.rgbe)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PCG\qt4Image\Capabilities\FileAssociations"
                       Name=".hdr" Value="$(var.progid.hdr)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PCG\qt4Image\Capabilities\FileAssociations"
                       Name=".pfm" Value="$(var.progid.pbm)" Type="string" />

        <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications"
                       Name="PCG.qt4Image.1" Value="SOFTWARE\PCG\qt4Image\Capabilities" Type="string" />
      </Component>
      
    </DirectoryRef>


    <!--- Keep all the registry-related components together -->
    <ComponentGroup Id="qt4image.group.registry">
      <ComponentRef Id="qt4image.registry.exr"/>
      <ComponentRef Id="qt4image.registry.rgbe"/>
      <ComponentRef Id="qt4image.registry.hdr"/>
      <ComponentRef Id="qt4image.registry.pbm"/>
      <ComponentRef Id="qt4image.registry.appregistration"/>
      <ComponentRef Id="qt4image.registry.capabilities"/>
    </ComponentGroup>


    <Feature Id="qt4image" Title="Qt4Image"
             Description="HDR file viewer to tone map, zoom and compare files, using amenities such as drag-and-drop."
             Level="1">
      <ComponentRef Id="qt4image.qt4Image.exe"/>
      <ComponentGroupRef Id="pcgimageio.runtime" Primary="yes"/>
      <ComponentGroupRef Id="runtime.Qt4" Primary="yes"/>
      <ComponentGroupRef Id="qt4image.group.registry"/>
    </Feature>
  
  </Fragment>

</Wix>
