<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include guids.wxi ?>
  <?include defines.wxi ?>
  
  <Fragment>

    <DirectoryRef Id="bin.dir">
      <Component Id="qt4image.qt4Image.exe" Guid="$(var.qt4image.qt4Image.exe)" Win64="$(var.IsX64)">
        <File Name="qt4Image.exe" KeyPath="yes" Source="bin\qt4Image.exe" />
      </Component>
    </DirectoryRef>

    <Feature Id="qt4image" Title="Qt4Image"
             Description="HDR file viewer to tone map, zoom and compare files, using amenities such as drag-and-drop."
             Level="1">
      <ComponentRef Id="qt4image.qt4Image.exe"/>
      <ComponentGroupRef Id="pcgimageio.runtime" Primary="yes"/>
      <ComponentGroupRef Id="runtime.Qt4" Primary="yes"/>
    </Feature>
  
  </Fragment>

</Wix>
