<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include guids.wxi ?>
  <?include defines.wxi ?>
  
  <Fragment>

    <DirectoryRef Id="bin.dir">
      <Component Id="utils.exrcompress.exe"
                 Guid="$(var.utils.exrcompress.exe)"
                 Win64="$(var.IsX64)">
        <File Name="exrcompress.exe" KeyPath="yes" Source="bin\exrcompress.exe" />
      </Component>
    </DirectoryRef>

    <Feature Id="exrcompress" Title="OpenEXR compressor"
             Description="Small command line utility to save a HDR file in the OpenEXR format."
             Level="1000" AllowAdvertise="no">
      <ComponentRef Id="utils.exrcompress.exe"/>
      <ComponentGroupRef Id="pcgimageio.runtime"/>
    </Feature>
  
  </Fragment>

</Wix>
